@import './base.css';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
  font-family: 'Pretendard', sans-serif;
  letter-spacing: -0.025em;
}

* {
  letter-spacing: -0.025em;
}
/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */


h1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 140%;
}
h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 140%;
}
h5 {
  font-size: 18px;
  font-weight: 600;
}
h3 {
  font-size: 16px;
  font-weight: 500;
}
h4 {
  font-size: 14px;
  line-height: 120%;
}
p {
  font-size: 20px;
  line-height: 140%;
  font-weight: 600;
}